@import 'tailwindcss';

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body,
  #root {
    height: 100%;
    body {
      overflow-x: hidden;
    }
  }

  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
    outline: none; /* Remove bordas de seleção ao clicar */
  }
}
