@import "tailwindcss";

@layer base{
  *{
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
    outline: none; /* Remove bordas de seleção ao clicar */
  }
}