@import "tailwindcss";

@layer base{ html, body, #root{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.bg-fixed-layer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
}

canvas{
  display: block;
  width: 100% !important;
  height: 100% !important;
}